[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
matplotlib = "*"
python-magic = "*"
python-magic-bin = {version = "*", sys_platform = "== 'win32'"}
benfordslaw = "*"
numpy = "*"
django-bootstrap-v5 = "*"

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.8"
